<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring Dashboard</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <h2>Dashboard</h2>
            <ul>
                <li id="overview" class="menu-item">Overview</li>
                <li id="containers" class="menu-item">Containers</li>
                <li id="apis" class="menu-item">APIs</li>
                <li id="resources" class="menu-item">Resource Monitoring</li>
            </ul>
        </div>
        
        <!-- Main content -->
        <div class="main-content">
            <!-- Header -->
            <div class="header">
                <h1>System Monitoring</h1>
                <div class="actions">
                    <button id="refresh">Refresh</button>
                    
                </div>
            </div>

            <!-- Status Table -->
            <div class="status-section">
                <h2>Service Status</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Container 1</td>
                            <td><span class="status up">UP</span></td>
                        </tr>
                        <tr>
                            <td>Container 2</td>
                            <td><span class="status down">DOWN</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Realtime Resource Graph -->
            <div class="resource-section">
                <div id="statsContainer" class="stats-section">
                    <h2>CPU</h2>
                    <p id="cpuUsage">Loading...</p>

                    <h2>Memory</h2>
                    <p id="memoryUsage">Loading...</p>

                    <h2>Network Bandwidth</h2>
                    <p id="networkBandwidthSent">Upload Bandwidth: N/A</p>
                    <p id="networkBandwidthReceived">Download Bandwidth: N/A</p>
                </div>
            </div>

            <!-- Traffic Chart -->
            <div class="traffic-section">
                <h2>Traffic Chart</h2>
                <canvas id="trafficChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
    <script src="/js/pageSwitch.js"></script>
    <script src="/js/serverStats.js"></script>
    <script src="/js/trafficStats.js"></script>
    
</body>
</html>
