<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitoring Dashboard</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <div class="sidebar">
        <h2>Dashboard</h2>
        <ul>
          <li id="overview" class="menu-item">Overview</li>
          <li id="containers" class="menu-item">Forex</li>
          <li id="apis" class="menu-item">Gold Price</li>
          <li id="resources" class="menu-item">Resource Monitoring</li>
        </ul>
      </div>

      <!-- Main content -->
      <div class="main-content">
        <!-- Header -->
        <div class="header">
          <h1>System Monitoring</h1>
          <div class="actions">
            <button id="refresh">Refresh</button>
          </div>
        </div>
        <div id="charts">
          <canvas id="cpuChart"></canvas>
          <canvas id="memoryChart"></canvas>
          <canvas id="bandwidthChart"></canvas>
        </div>

      </div>
    </div>
    <script src="/js/pageSwitch.js"></script>
    <script src="/js/serverChart.js"></script>
    

  </body>
</html>